// need for text editor
@import '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css';

.main-view {
  height: 100%;

  .wrapper {
    height: 100%;
  }
}

// Material Design Data Table
md-card {
  .md-warn {
    color: #ffffff !important;
  }
  .control-buttons{
    width: 250px;
  }
}

// FROALA text editor
.fr-box{
  .fr-popup {
    .fr-buttons {
      .fr-btn{
        &:last-child{
          display: none;
        }
      }
    }
  }
}
