<md-list class="sidebar-menu-list">
    <md-item>
        <md-item-content>
            <md-button ui-sref="documents">
                Documents
            </md-button>
        </md-item-content>
    </md-item>
    <md-item>
        <md-item-content>
            <md-button ui-sref="users">
                Users
            </md-button>
        </md-item-content>
    </md-item>
    <md-item>
        <md-item-content>
            <md-button ui-sref="admin_events">
                Events
            </md-button>
        </md-item-content>
    </md-item>
    <md-item>
        <md-item-content>
            <md-button ui-sref="admin_news">
                News
            </md-button>
        </md-item-content>
    </md-item>
    <md-item>
        <md-item-content>
            <md-button ui-sref="menu">
                Menu
            </md-button>
        </md-item-content>
    </md-item>
</md-list>