<md-input-container class="md-block">
    <label>Название парусного судна *</label>
    <input md-no-asterisk name="title" ng-model="vm.vessel.title" md-maxlength="20" required>
    <div ng-messages="vesselForm.title.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The title has to be less than 20 characters long.</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label>№ на парусе *</label>
    <input md-no-asterisk name="number_sail" ng-model="vm.vessel.number_sail" required>
    <div ng-messages="vesselForm.number_sail.$error">
        <div ng-message="required">This is required.</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label>№ гос.регистрации</label>
    <input md-no-asterisk name="number_registration" ng-model="vm.vessel.number_registration">
</md-input-container>
<md-input-container class="md-block">
    <label>Парусность основная (кв.м.)</label>
    <input md-no-asterisk name="windage" ng-model="vm.vessel.windage">
</md-input-container>
<md-input-container class="md-block">
    <label>Материал</label>
    <input md-no-asterisk name="material" ng-model="vm.vessel.material">
</md-input-container>
<md-input-container class="md-block">
    <label>Цвет корпуса</label>
    <input md-no-asterisk name="color_body" ng-model="vm.vessel.color_body" placeholder="white">
</md-input-container>
<md-input-container class="md-block">
    <label>Мощность мотора (л/с):	</label>
    <input md-no-asterisk name="power_motor" ng-model="vm.vessel.power_motor">
</md-input-container>
<md-input-container class="md-block">
    <label>Длина корпуса (м.):	</label>
    <input md-no-asterisk name="length_body" ng-model="vm.vessel.length_body">
</md-input-container>
<md-input-container class="md-block">
    <label>Ширина корпуса (м.):	</label>
    <input md-no-asterisk name="with_body" ng-model="vm.vessel.with_body">
</md-input-container>
<md-input-container class="md-block">
    <label>Высота надв. борта или трамплина над водой (клиренс), (м.):	</label>
    <input md-no-asterisk name="height" ng-model="vm.vessel.height">
</md-input-container>
<md-input-container class="md-block">
    <label>Грузоподъёмность (кг):	</label>
    <input md-no-asterisk name="capacity" ng-model="vm.vessel.capacity">
</md-input-container>
<md-input-container class="md-block">
    <label>Экипаж не более (чел.):	</label>
    <input md-no-asterisk name="crew" ng-model="vm.vessel.crew">
</md-input-container>
<md-input-container class="md-block">
    <label>Тип судна *</label>
    <md-select name="type_vessel" ng-model="vm.vessel.type_vessel" required>
        <md-option value="Катамаран">Катамаран</md-option>
        <md-option value="Тримаран">Тримаран</md-option>
        <md-option value="Однокорпусник">Однокорпусник</md-option>
    </md-select>
    <div ng-messages="vesselForm.type_vessel.$error"
         ng-if="vesselForm.$submitted || vesselForm.type_vessel.$touched">
        <div ng-message="required">This is required.</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label>Тип корпуса *</label>
    <md-select name="type_body" ng-model="vm.vessel.type_body" required>
        <md-option value="Надувной">Надувной</md-option>
        <md-option value="Жесткий">Жесткий</md-option>
    </md-select>
    <div ng-messages="vesselForm.type_body.$error"
         ng-if="vesselForm.$submitted || vesselForm.type_body.$touched">
        <div ng-message="required">This is required.</div>
    </div>
</md-input-container>
<md-input-container class="md-block">
    <label>Тип конструкции *</label>
    <md-select name="type_construction" ng-model="vm.vessel.type_construction" required>
        <md-option value="Разборный">Разборный</md-option>
        <md-option value="Не разборный">Не разборный</md-option>
    </md-select>
    <div ng-messages="vesselForm.type_construction.$error"
         ng-if="vesselForm.$submitted || vesselForm.type_construction.$touched">
        <div ng-message="required">This is required.</div>
    </div>
</md-input-container>