<md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Судна</h2>
    </div>
</md-toolbar>
<div layout="column" ng-cloak>
    <md-content layout-padding>
        <md-list>
            <md-subheader class="md-no-sticky">
                <b>Список Ваших парусных суднов</b>
            </md-subheader>
            <md-button ui-sref="vessel_create" class="md-raised md-button">Добавить новое судно</md-button>
            <md-table-container ng-if="vc.vessels.length">
                <table md-table multiple md-progress="promise">
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>Название судна</span></th>
                        <th md-column><span>№ на парусе</span></th>
                        <th md-column><span>Рег.№</span></th>
                        <th md-column>Управление</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="vessel in vc.vessels">
                        <td md-cell>{{vessel.title}}</td>
                        <td md-cell>{{vessel.number_sail}}</td>
                        <td md-cell>{{vessel.number_registration}}</td>
                        <td md-cell>
                            <a href="/vessel/{{ vessel._id }}" class="md-raised md-button md-button">Подробно</a>
                            <a href="/vessel/edit/{{ vessel._id }}" class="md-raised md-primary md-button">Редактировать</a>
                            <md-button class="md-primary md-raised" ng-click="vc.showCrew(vessel)">
                                Экипаж
                            </md-button>
                            <a href="" ng-click="vc.deleteVessel(vessel)" class="md-raised md-warn md-button">Удалить</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-divider></md-divider>

            <md-subheader class="md-no-sticky">
                <b>Участие в экипаже других судов или купленные вами существующие судна</b>
            </md-subheader>
            <md-list-item ng-repeat="participant in vc.participants2">
                <p> {{ participant.first_name }} {{ participant.last_name}} </p>
                <md-button href="/participant/edit/{{ participant._id }}" class="md-raised md-primary">Редактировать</md-button>
                <md-button class="md-raised md-warn" ng-click="vc.deleteParticipant(participant)">Удалить</md-button>
            </md-list-item>
            <p>
                При нажатии на кнопку с любым из этих статусов, можно просмотреть данные заявки и если она ещё не
                "в печати", то ещё возможно отредактировать данные.
            </p>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</div>

