<md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">Судна</h2>
    </div>
</md-toolbar>
<md-content layout-padding>
    <md-list>
        <md-subheader class="md-no-sticky">
            <b>Список Ваших парусных суднов</b>
        </md-subheader>
        <md-button ui-sref="vessel_create" class="md-raised md-button">Добавить новое судно</md-button>
        <md-table-container ng-if="vm.vessels.length">
            <table md-table multiple md-progress="promise">
                <thead md-head>
                <tr md-row>
                    <th md-column><span>Название судна</span></th>
                    <th md-column><span>№ на парусе</span></th>
                    <th md-column><span>Рег.№</span></th>
                    <th md-column>Управление</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="vessel in vm.vessels">
                    <td md-cell>{{vessel.title}}</td>
                    <td md-cell>{{vessel.number_sail}}</td>
                    <td md-cell>{{vessel.number_registration}}</td>
                    <td md-cell>
                        <md-button href="/vessel/edit/{{ vessel._id }}" aria-label="edit">
                            <md-tooltip md-direction="top">
                                Редактировать
                            </md-tooltip>
                            <md-icon md-font-icon="fa fa-pencil"></md-icon>
                        </md-button>
                        <md-button ng-click="vm.showCrew(vessel)" aria-label="edit">
                            <md-tooltip md-direction="top">
                                Экипаж
                            </md-tooltip>
                            <md-icon md-font-icon="fa fa-users"></md-icon>
                        </md-button>
                        <md-button ng-click="vm.deleteVessel(vessel)" aria-label="remove">
                            <md-tooltip md-direction="top">
                                Удалить
                            </md-tooltip>
                            <md-icon md-font-icon="fa fa-trash-o"></md-icon>
                        </md-button>
                        <a href="/vessel/{{ vessel._id }}" class="md-raised md-button md-button">Подробно</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-divider></md-divider>

        <md-subheader class="md-no-sticky">
            <b>Участие в экипаже других судов или купленные вами существующие судна</b>
        </md-subheader>
        <md-list-item ng-repeat="participant in vm.participants2">
            <p> {{ participant.first_name }} {{ participant.last_name}} </p>
            <md-button href="/participant/edit/{{ participant._id }}" class="md-raised md-primary">Редактировать</md-button>
            <md-button class="md-raised md-warn" ng-click="vm.deleteParticipant(participant)">Удалить</md-button>
        </md-list-item>
        <p>
            При нажатии на кнопку с любым из этих статусов, можно просмотреть данные заявки и если она ещё не
            "в печати", то ещё возможно отредактировать данные.
        </p>
        <md-divider></md-divider>
    </md-list>
</md-content>
