<md-dialog aria-label="События"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>События</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <!--<create-document form-data="formData"></create-document>-->
            <div layout="column" class="inputdemoErrorsAdvanced" ng-cloak>
                <md-content layout-padding>
                    <form name="eventForm" ng-submit="vm.save(eventForm)" novalidate>

                        <md-input-container class="md-block">
                            <label>Название</label>
                            <input ng-required="true" name="title" ng-model="vm.event.title">
                            <div ng-messages="eventForm.title.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Описание</label><br>
                            <textarea froala="vm.froalaOptions" ng-model="vm.event.description" ng-required="true"
                                      name="text" aria-label="text-editor">
                            </textarea>
                            <div ng-messages="eventForm.description.$error"
                                 ng-if="eventForm.description.$touched || eventForm.$submitted">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Начало</label>
                        </md-input-container>
                        <md-datepicker name="start" ng-model="vm.event.start" md-placeholder="Enter date"
                                       required md-min-date="vm.minDate">
                        </md-datepicker>

                        <md-input-container class="md-block">
                            <label>Конец</label>
                        </md-input-container>
                        <md-datepicker name="end" ng-model="vm.event.end" md-placeholder="Enter date"
                                       required md-min-date="vm.minDate">
                        </md-datepicker>
                        <div class="datepicker-validation-messages" ng-messages="eventForm.end.$error"
                             ng-if="eventForm.$submitted || eventForm.end.$touched">
                            <div ng-message="required">This date is required!</div>
                        </div>

                        <md-input-container class="md-block">
                            <md-button ng-click="vm.close()" class="md-raised md-primary">Cancel</md-button>
                            <md-button type="submit" class="md-raised md-primary">Save</md-button>
                        </md-input-container>
                    </form>
                </md-content>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
