<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center"  ng-controller="NavbarController">
    <div>
        <md-button ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </md-button>
    </div>
    <div class="nav-buttons">
        <md-button class="md-raised md-primary"><a ui-sref="signup">Sign up</a></md-button>
        <md-button class="md-raised md-accent" ng-hide="nav.isLoggedIn()" ui-sref-active="active">
            <a ui-sref="login">Login</a>
        </md-button>
        <md-button class="md-raised md-accent" ng-show="nav.isLoggedIn()">
            <p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p>
        </md-button>
        <md-button class="md-raised md-accent" ng-show="nav.isLoggedIn()" ui-sref-active="active">
            <a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a>
        </md-button>
        <md-button class="md-raised md-accent" ng-show="nav.isLoggedIn()">
            <a ui-sref="logout">Logout</a>
        </md-button>
    </div>
</div>