<md-toolbar>
    <h3>
        <md-button ng-repeat="item in nav.menu"  ui-sref-active="active" ui-sref="{{item.state}}">{{item.title}}</md-button>
        <div style="float: right;">
            <md-button ui-sref="signup" ng-if="!nav.isLoggedIn()">Sign up</md-button>
            <md-button ui-sref="login" ng-if="!nav.isLoggedIn()">Login</md-button>
            <md-button ui-sref="logout" ng-if="nav.isLoggedIn()">Logout</md-button>
            <md-button ui-sref="settings" ng-if="nav.isLoggedIn()">Settings</md-button>
        </div>
    </h3>
</md-toolbar>