<md-content laout="column" flex>
    <md-card>

        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Documents</span>
                <div flex></div>
                <md-button class="md-raised" ng-click="vm.modalCreateDocument()">Create</md-button>
                <md-button class="md-raised md-warn" ng-click="vm.remove(vm.selected)">Delete</md-button>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-row-select ng-model="vm.selected" md-progress="promise">
                <thead md-head md-order="vm.gridOptions.order">
                <tr md-row>
                    <th md-column><span>#</span></th>
                    <th md-column md-order-by="title"><span>Title</span></th>
                    <!--<th md-column md-order-by="text"><span>Text</span></th>-->
                    <th md-column><span>Author</span></th>
                    <th md-column></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    md-select="item"
                    md-select-id="{{item._id}}"
                    ng-repeat="item in vm.documents | orderBy: vm.gridOptions.order">
                    <td md-cell>{{$index + 1}}</td>
                    <td md-cell>{{item.title}}</td>
                    <!--<td md-cell ng-bind-html="item.text"></td>-->
                    <td md-cell>{{item.author}}</td>
                    <td md-cell class="control-buttons">
                        <md-button ng-click="vm.modalCreateDocument(item)">
                            <md-icon md-font-icon="fa fa-pencil"></md-icon>
                        </md-button>
                        <md-button ng-click="vm.remove(item)">
                            <md-icon md-font-icon="fa fa-trash-o"></md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
</md-content>