<div flex layout="row" layout-align="center center">
    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
        <md-toolbar class="md-warn">

        </md-toolbar>
        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <form name="vesselForm" ng-submit="vm.addVessel()" novalidate>
                    {{ vm.vessel }}
                    <md-input-container class="md-block">
                        <label>Название парусного судна</label>
                        <input md-maxlength="30" required md-no-asterisk name="title" ng-model="vm.vessel.title">
                        <div ng-messages="vesselForm.title.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>№ на парусе</label>
                        <input md-no-asterisk name="number_sail" ng-model="vm.vessel.number_sail">
                        <div ng-messages="vesselForm.number_sail.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>№ гос.регистрации</label>
                        <input md-no-asterisk name="number_registration" ng-model="vm.vessel.number_registration">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Парусность основная (кв.м.)</label>
                        <input md-no-asterisk name="windage" ng-model="vm.vessel.windage">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Материал</label>
                        <input md-no-asterisk name="material" ng-model="vm.vessel.material">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Цвет корпуса</label>
                        <input md-no-asterisk name="color_body" ng-model="vm.vessel.color_body" placeholder="white">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Мощность мотора (л/с):	</label>
                        <input md-no-asterisk name="power_motor" ng-model="vm.vessel.power_motor">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Длина корпуса (м.):	</label>
                        <input md-no-asterisk name="length_body" ng-model="vm.vessel.length_body">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Ширина корпуса (м.):	</label>
                        <input md-no-asterisk name="with_body" ng-model="vm.vessel.with_body">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Высота надв. борта или трамплина над водой (клиренс), (м.):	</label>
                        <input md-no-asterisk name="height" ng-model="vm.vessel.height">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Грузоподъёмность (кг):	</label>
                        <input md-no-asterisk name="capacity" ng-model="vm.vessel.capacity">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Экипаж не более (чел.):	</label>
                        <input md-no-asterisk name="crew" ng-model="vm.vessel.crew">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Тип судна:	</label>
                        <md-select ng-model="type" required>
                            <md-option value="Тип1">Тип 1</md-option>
                            <md-option value="Тип2">Тип 2</md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-raised md-primary" type="submit">Submit</md-button>
                </form>
            </md-content>
        </div>
    </div>
</div>