<md-dialog flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Menu</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <!--<create-document form-data="formData"></create-document>-->
            <div layout="column" class="inputdemoErrorsAdvanced" ng-cloak>
                <md-content layout-padding>
                    <form name="vm.formSave" ng-submit="vm.save()" novalidate>

                        <md-input-container class="md-block">
                            <label>Title</label>
                            <input ng-required="true" name="title" ng-model="vm.formData.title">
                            <div ng-messages="vm.formSave.title.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Slug</label>
                            <input name="slug" ng-model="vm.formData.slug">
                        </md-input-container>

                        <documents-list
                            ng-if="vm.formData.type == 'document'"
                            selected-item="vm.formData.document"
                            form="vm.formSave">
                        </documents-list>

                        <menu-list
                            selected-item="vm.formData.menu"
                            self="vm.formData._id"
                            required="vm.formData.type != 'menu'"
                            form="vm.formSave">
                        </menu-list>

                        <md-input-container class="md-block">
                            <label>Index</label>
                            <input name="index" ng-model="vm.formData.index">
                        </md-input-container>

                        <md-radio-group ng-model="vm.formData.type">
                            <md-radio-button ng-value="d.value" ng-repeat="d in vm.radioTypeData">{{d.label}}</md-radio-button>
                        </md-radio-group>

                        <md-button ng-click="vm.close()" class="md-raised md-primary">Cancel</md-button>
                        <md-button type="submit" class="md-raised md-primary">Save</md-button>
                    </form>
                </md-content>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
