<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Document</h2>
    </div>
</md-toolbar>
<md-dialog-content>
    <div class="md-dialog-content">
        <!--<create-document form-data="formData"></create-document>-->
        <div layout="column" class="inputdemoErrorsAdvanced" ng-cloak>
            <md-content layout-padding>
                <form name="vm.formSave" ng-submit="vm.save()" novalidate>

                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-required="true" name="title" ng-model="vm.formData.title">
                        <div ng-messages="vm.formSave.title.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Slug</label>
                        <input name="slug" ng-model="vm.formData.slug">
                    </md-input-container>


                    <!--MENU-->
                    <!--<md-input-container class="md-block">-->
                        <!--<label>Select menu</label>-->
                        <!--&lt;!&ndash;{{vm.formData.menu}}&ndash;&gt;-->
                        <!--<md-select name="menu" ng-model="vm.formData.menu" multiple>-->
                            <!--<md-option ng-value="option._id" ng-repeat="option in vm.MenuService.collection">{{option.title}}</md-option>-->
                        <!--</md-select>-->
                        <!--&lt;!&ndash;<div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div ng-message="required">Required</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</md-input-container>-->

                    <md-input-container class="md-block">
                        <textarea froala="vm.froalaOptions" ng-model="vm.formData.text" ng-required="true" name="text" aria-label="text-editor"></textarea>
                        <!--<text-angular ng-model="vm.formData.text" ng-required="true" name="text" aria-label="text-editor"></text-angular>-->
                        <div ng-messages="vm.formSave.text.$error" ng-if="vm.formSave.text.$touched || vm.formSave.$submitted">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <!--FILE UPLOAD-->
                    <!--<div class="md-block">-->
                        <!--<lf-ng-md-file-input name="files" lf-files="vm.formData.files" lf-filesize="10MB" lf-mimetype="image/*"></lf-ng-md-file-input>-->
                        <!--<div ng-messages="vm.formSave.files.$error" style="color:red;">-->
                            <!--<div ng-message="required">This is required.</div>-->
                            <!--<div ng-message="maxcount">Too many files.</div>-->
                            <!--<div ng-message="filesize">File size too large.</div>-->
                            <!--<div ng-message="totalsize">Total size too large.</div>-->
                            <!--<div ng-message="mimetype">Mimetype error.</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="md-block">-->
                        <!--<aps-upload-file upload-file="vm.formData.file"></aps-upload-file>-->
                    <!--</div>-->

                    <md-button ng-click="vm.close()" class="md-raised md-primary">Cancel</md-button>
                    <md-button type="submit" class="md-raised md-primary">Save</md-button>
                </form>
            </md-content>
        </div>
    </div>
</md-dialog-content>
