<!--<div class="container">-->
    <!--<md-toolbar class="md-menu-toolbar">-->
        <div layout="column">
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Документы
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="document({slug: 'test1'})">
                                TEST1
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="document({slug: 'test2'})">
                                TEST2
                            </md-button>
                        </md-menu-item>
                        <!--<md-menu-item>-->
                            <!--<md-button ui-sref="document({id: '56f5518862f462b606815445'})">-->
                                <!--TEST3-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ui-sref="document({id: '56f5518f62f462b606815446'})">-->
                                <!--TEST4-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                        <!--<md-menu-item>-->
                            <!--<md-button ui-sref="document({id: '56f5519662f462b606815447'})">-->
                                <!--TEST5-->
                            <!--</md-button>-->
                        <!--</md-menu-item>-->
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Мероприятия
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="events">
                                Все мероприятия
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Судна
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ui-sref="vessels">
                                Мои судна
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="vessel_create">
                                Добавить судно
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    <!--</md-toolbar>-->
<!--</div>-->